.red{
  background-color: red;
  width: 70px;
  height: 70px;
  border: none;
}

.green{
  background-color: green;
  width: 70px;
  height: 70px;
  border-radius: 50px;
}

.review{
  width: 280px;
  border-width: 1px;
  border-radius: 1px;
  border-color: gray;
  display: inline-block;
  border-style: solid;
  padding-left: 18px;
  padding-bottom:25px;
}

.install{
  font-family: Arial;
  width: 320px;
  background-color: rgb(53, 53, 53);
  color :white;
}

.install-text{
  padding-top: 20px;
  padding-left: 10px;
  font-weight: bold;
  font-size: large;
  margin-bottom: 0px;
}

.install-text2{
  color: grey;
  font-size: small;
  padding-left: 10px;
  margin-top: 7px;
  padding-bottom: 20px;
}

.cat3{
  width:50px;
  height: 50px;
  border-radius: 100px;
  object-fit: cover;
  object-position: left;
  vertical-align: center;
  margin-top: 15px;
  margin-bottom: 12px;
}

.tweet{
  background-color: rgb(0, 149, 255);
  color: white;
  font-weight: bold;
  font-size: 15px;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 13px;
  padding-right: 13px;
  vertical-align: top;
  border-radius: 20px;
  cursor: pointer;
  transition: box-shadow 0.4s;
  margin-top: 23px;
  margin-right: 20px;
}

.tweet:hover{
box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.15);


}
.tweet:active{
opacity: 0.7;
}

.span1{
  color: gray;
  font-family: Arial;
  border-width:  3px; 
  border-color: yellow;
  vertical-align: top;
  margin-top: 34px;
  padding-left: 8px;
  padding-right:140px;
  display:inline-block ;
}
.shadow-div{
  padding-bottom: 0px;
  padding-left: 10px;
  border:none;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
  display: inline-block;
  border-radius: 5px;
}

.card-image{
  width: 140px;
  height: 140px;
  object-fit: cover;
  object-position: left;
}
.card{
  font-family: Arial;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 8px;
  margin-right: 8px;
  border:none;
  display: inline-block;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
}

.card-head{
  padding-left: 7px;
  margin-top: 6px;
  font-weight: bold;
  margin-bottom: 0px;
}


.card-subhead{
  padding-left: 8px;
  margin-top: 3px;
  font-size: small;
  color: grey;
}

.card-button{
  padding-left: 16px;
  padding-right: 16px;
  padding-top : 9px;
  padding-bottom: 9px;
  margin-top: 3px;
  font-size: small;
  color: white;
  background-color: rgb(80, 80, 244);
  border: none;
  cursor: pointer;
  margin-left: 6px;
  margin-bottom: 6px;
  border-radius: 4px;
}

